body{
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}

.carte-herbe{
	
	display: grid;
	grid-template-columns: 35% 35% 15% 15%;
	grid-template-rows: auto;
	grid-template-areas: 
	"niveau nom pv type"
    "main main main main"
    "footer footer footer footer";
	background-color: #DAF7A6;
	border-radius: 1em;
	border: 0.5em solid #F5E817;
	padding: 0.5em 0.5em 0.5em 0.5em;
	margin: 1.5em 1.5em 1.5em 1.5em;

}

.carte-eau{
	
	display: grid;
	grid-template-columns: 35% 35% 15% 15%;
	grid-template-rows: auto;
	grid-template-areas: 
	"niveau nom pv type"
    "main main main main"
    "footer footer footer footer";
	background-color: #62BDF9;
	border-radius: 1em;
	border: 0.5em solid #F5E817;
	padding: 1.5em 1.5em 1.5em 1.5em;
	margin: 1.5em 1.5em 1.5em 1.5em;

}

.carte-feu{
	
	display: grid;
	grid-template-columns: 35% 35% 15% 15%;
	grid-template-rows: auto;
	grid-template-areas: 
	"niveau nom pv type"
    "main main main main"
    "footer footer footer footer";
	background-color: #F97B62;
	border-radius: 1em;
	border: 0.5em solid #F5E817;
	padding: 1.5em 1.5em 1.5em 1.5em;
	margin: 1.5em 1.5em 1.5em 1.5em;

}

.zone-niveau{
  grid-area: niveau;
}
.zone-nom{
  grid-area: nom;
}
.zone-pv{
  grid-area: pv;
}
.zone-type{
  grid-area: type;
}
.zone-main{
  grid-area: main;
}
.zone-footer{
  grid-area: footer;
}

#type{

	width: 2em;
	height: 2em;
	border-radius:50%;
	
}

/*#ilustration{

	margin-left: auto;
    margin-right: auto;
	width: 80%;
	height: 80%;*/

}